.main{
	height: 100%;
}
#segmentContainer {
	width: 80%;
	height: 80%;
}
.segmentRow {
	height: 40%;
	width: 100%;
}
.segment {
	background-color: rgba(0,0,0,.1);
	padding-top: 20px;
}
.segmentOverlay {
	background-color: rgba(0,0,0,.5);
	position: absolute;
}
