.main{
	height: 100%;
}
#itemContainer {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.itemRow .item {
	display: inline;
}
.itemRow {
	margin: 0 auto;
	height: 40%;
	width: 100%;
}
.item {
	height: 100%;
	width: 45%;
	background-color: rgba(0,0,0,.1);
	padding-top: 20px;
}