body {
    padding-top: 20px;
}
#wrapper {
	position: relative;
}
.row{
	margin: 0 -30px;
}
.topRow {
	margin-bottom: 25px;
}
.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 30px;
	font-size: 1.4em;
	color: white;
	background-color: rgba(100,100,100,.9);
	z-index: 5;
}
.closeOverlay {
	position: absolute;
	top: 10;
	left: 10;
	z-index: 10;
}
.closeOverlay img{
	height: 15px;
	width: 15px;
}
footer {
    margin: 50px 0;
}